xml/productos.dtd

<!ELEMENT productos (producto)>
<!ELEMENT producto (categoria,genero,nombre,precio,stock,fecha,imagen)>
<!ELEMENT categoria (#PCDATA)>
<!ELEMENT genero (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT stock (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT imagen (#PCDATA)>
<!ATTLIST productos type CDATA "lastid">
<!ATTLIST producto type CDATA "id">
